// Footer begin
section.section.bg-variant.five#contacts
    .container
        // Section title
        h2.section-title ENTRE EM CONTATO
        p.inf Estamos aqui para ajuda-lo e deixar o Govern ainda mais incrível. Entre em contato e tire todas as suas dúvidas, dê sugestões ou compartilhe sua experiência conosco.

        // Contact form begin
        .contact-form
            .form-half
                p CONTATO:
                p Leapps Concept
                p Raphael Fenelon
                p E-mail: 
                    a(href="mailto:leappsconcept@gmail.com", title="Clique para enviar um e-mail") leappsconcept@gmail.com
                p Telefones: (11) 97108-0917
            .form-half
                p IMPRENSA:
                p Assessoria de imprensa: BRSA – Branding and Sales
                p Assessor de Imprensa: Willians Ribeiro
                p E-mail: 
                    a(href="mailto:wribeiro@brsa.com.br", title="Clique para enviar um e-mail") wribeiro@brsa.com.br
                p
                    a(href="www.brsa.com.br", title="Branding and Sales", target="_blank") www.brsa.com.br

        // Contact form end


        .copyright
            .footer-logo
                a(href="index.html", title="Govern App")
                    if prod
                        span Govern
                    else
                        img(src="assets/images/Logo-Govern-rodape.png", alt="Logo Govern")

            // Your copyrights
            p Copyright © 2016   |   Govern - Todos os direitos reservados.

            // Your socials networks
            ul.socials
                    li
                        a.fa.fa-facebook(href="https://www.facebook.com/governapp", target="_blank")
                    //
                        li
                            a.fa.fa-twitter(href="#", target="_blank")
                        li
                            a.fa.fa-instagram(href="#", target="_blank")
                        li
                            a.fa.fa-google-plus(href="#", target="_blank")
                        li
                            a.fa.fa-tumblr-square(href="#", target="_blank")
                        li
                            a.fa.fa-pinterest(href="#", target="_blank")

