// Header begin
header.header.header-variant-2#Top
    .container
        // Web site welcome text

        .header-line
            .muckup.animated-muckup
                if prod
                    img(src="http://placehold.it/800x900?text=Animated+mockup+should+be+here", alt="app")
                else
                    img(src="assets/images/Govern-img-app-01.png" alt="Imagem Govern App")
            .header-text
                h1.website-heading Conheça melhor o seu
                    |representante no governo.

                p Conheça os candidatos da sua cidade e os políticos eleitos para expor sua opinião, veja os bens declarados pelo seu candidato e participe de discussões para escolher o seu melhor representante!
                .download-btns.white
                    a.btn-app-store(href="https://itunes.apple.com/us/app/govern/id1153367094?l=pt&ls=1&mt=8", target="_blank")
                    a.btn-play-store(href="https://play.google.com/store/apps/details?id=br.com.digisystem.govern", target="_blank")




// Header end