// Navigation begin
.navigation#top-nav
    .container
        nav.nav
            // Navigation logo
            .logo
              a(href="#", title="Govern App", class="voltarTopo")
                if prod
                    span Govern
                else
                    img.branco(src="assets/images/Logo-Govern.png", alt="Logo Govern")
                    img.azul(src="assets/images/Logo-Govern-azul.png", alt="Logo Govern")

            // Navigation mobile button
            button.mobile-menu-btn
                span
                span
                span


            // Navigation links
            .navbar
                ul#main-navbar
                    li
                        a(href="index.html#start" title="Saiba mais sobre o Govern App") + Sobre o Govern
                    li
                        a(href="index.html#work" title="Como o Govern Funciona?") Como Funciona
                    li
                        a(href="index.html#features" title="Detalhes sobre a características") Características                    
                    li
                        a(href="index.html#contacts" title="Entre em contato conosco") Contato
                    li
                        a(href="https://www.facebook.com/governapp" title="Govern nas redes sociais" target="_blank")
                            i.fa.fa-facebook
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                // Search bar
                    .search-bar
                        button.search-btn
                            i.icon-glass

                        .search-form
                            input(type="text", placeholder="Pesquisar...", tabindex="0")

// Navigation end