/* INDICE DE USO CSS
 
 - TAGS GERAIS 
 - FONTES
 - FORMULARIO
 - TABELAS
 - SLIDES
 - TABS
 - PANELS
 - TIMELINE
 - PAGINAÇÃO 
 - MODAL DAS PÁGINAS 
 - VERSÕES BROWSERS
 - VERSÕES RESPONSIVAS

------------------ */

/* TAGS GERAIS */
						
/* ------------------ */

/* FONTES */
@import "Blocos/Fonts"
/* ------------------ */
/* FORMULARIO */
@import "Blocos/Form"
/* ------------------ */
/* TABELAS */
@import "Blocos/Table"
/* ------------------ */
/* SLIDES */
@import "Blocos/Slide"
/* ------------------ */
/* TABS */
@import "Blocos/Tabs"
/* ------------------ */
/* PANELS */
@import "Blocos/PanelGroup"
/* ------------------ */
/* TIMELINE */
@import "Blocos/Timeline"
/* ------------------ */
/* PAGINAÇÃO */
@import "Blocos/Paginacao"
/* ------------------ */
/* MODAL DAS PÁGINAS */
@import "Blocos/Modal"
/* ------------------ */