// Awesome section begin
section.section#start
    .container
        // Section title
        h2.section-title Sobre o Govern
        p Govern é a melhor maneira de estar mais próximo da politica através do seu smartphone.

        // Spin columns
        .spins
            .spin
                h4
                    span.ion-contrast
                    | Apartidário
                p Nós não influenciamos nenhuma opinião, a discussão é exclusiva dos eleitores.

            .spin
                h4
                    span.ion-ios-eye
                    | Transparente
                p Os dados não passam por nenhum tratamento que possa influenciar nos resultados.

            .spin
                h4
                    span.ion-arrow-graph-up-right
                    | Empoderador
                p Deixe registrado a sua opinião e ajude outros eleitores a decidirem em quem votar.

            .spin
                h4
                    span.ion-ios-people
                    | Participativo
                p Use o mural de um político para deixar seu recado para ele ou para outros eleitores.

            .spin
                h4
                    span.ion-ios-paper
                    | Informativo
                p Tenha acesso rápido ao plano de governo dos políticos que o publicaram.

            .spin
                h4
                    span.ion-android-contact
                    | Prático
                p Simplificamos o seu acesso  aos dados públicos dos políticos que estão disponíveis no TSE.

// Awesome section end