// Subscribe section begin
section.section.bg-variant.four#subscribe
    .container
        // Section title
        h2.section-title Receba Novidades
        p.inf Cadastre seu e-mail no campo abaixo para receber nossos comunicados, Informações, promoções, campanhas e saiba mais sobre o Govern!

        // Subscribe form
        form.subscribe(action="//fantonica.us10.list-manage.com/subscribe/post?u=0f47cc431d4420b8c583678d6&amp;id=70ede084f1")
            .form-group-inline
                input.form-input(type="text", name="email", placeholder="Escreva seu E-mail")
                .btns
                    button.btn.primary.uppercase(type="submit") Cadastrar
// Subscribe section end