h3 {
  font-size: 1.625em;
}
.btn+.btn {
  margin-left: 5px;
}
.container-fluid .WidthFull {
  padding: 0;
}
.container-fluid .WidthFull .slide .carousel-inner .item .img-responsive {
  width: 100%;
}
