//- extend layout file
extends layouts/default

//- change web page title
block title
    | Govern App é a melhor maneira de conhecer e avaliar os políticos eleitos e candidatos da sua cidade

//- include need page partials
block content
    include partials/nav
    include partials/header-animated
    include includes/awesome
    include includes/how-does
    include includes/features
    include partials/footer