/* CSS RESPONSIVE */
@media (max-width: 1012px)
    .header
        .header-line
            .muckup
                margin-top rem(22px)

@media (max-width: 889px)
    .section
        .featured-image
            .white-phone-muckup.small
                display none

@media (max-width: 814px)
    .navigation
        .navbar
            ul 
                li 
                    a 
                        font-size rem(12px)
        
    .header
        .header-line
            .muckup
                margin-top rem(62px)

@media (max-width: 768px)
    .navigation
        .navbar
            ul 
                li 
                    a 
                        font-size rem(15px)
                        color primary-color;
        .navbar.open
            background-color transparent
            #main-navbar 
                border-bottom rem(1px) solid #ccc
                    
        .mobile-menu-btn
            cursor pointer
        .logo
            .branco
                display none
            .azul
                display block

     .header
        .header-line
            .muckup
                margin-top rem(0px)

    .section
        .featured-image
            .white-phone-muckup.small
                display block

@media (max-width: 460px)
    #start.section
        .section-title
            + p 
                margin-bottom rem(72px)

@media (max-width: 256px)
    .navigation
        .logo
            a
                width rem(53px)
                overflow hidden